* {
    box-sizing: border-box;
    }

h5  {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.row {
    display: flex;
    height: 40px;
}

.column {
    flex: 40%;
    padding: 5px;
    margin-top: -20px;
}

